<!DOCTYPE html>
<html>
<head>
    <title>IADMDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/searchstyle.css'/>

</head>
<body>
<%- include('./composite/header'); %>
<div class="container">
    <div class="pagesection">

        <p class="normal_text">search for a movie :</p>
        <div class="searchbox">
            <a href="/movies/search/"><svg width="25" height="26" viewBox="0 0 429 440" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M264.194 312.972C237.307 330.689 205.108 341 170.5 341C76.3354 341 0 264.665 0 170.5C0 76.3354 76.3354 0 170.5 0C264.665 0 341 76.3354 341 170.5C341 210.327 327.344 246.965 304.46 275.987L422.513 394.04C431.105 402.631 431.105 416.561 422.513 425.152L415 432.666C406.408 441.257 392.479 441.257 383.887 432.666L264.194 312.972ZM297 170.5C297 240.364 240.364 297 170.5 297C100.636 297 44 240.364 44 170.5C44 100.636 100.636 44 170.5 44C240.364 44 297 100.636 297 170.5Z"
                          fill="#FEFBFE"/>
                </svg></a>
            <input type="search" class="input_search" placeholder="Cherchez donc un film !">
        </div>
    </div>
    <div class="randommovie_content">
        <p class="normal_text">popular movies :</p>
        <div class="randommovie_container">
            <ul class="randommovie_list">
                <% movies.forEach(function(movies) { %>
                    <li class="randommovie_list__item"><a class="button" href="/movies/id/<%= movies.id %>"
                                                          class="randommovie_list__link"><img
                                    width="250px" class="fluidimage"
                                    src="https://image.tmdb.org/t/p/w500/<%= movies.poster_path %>"/>
                            <h5><%= movies.title %></h5>
                            <h6>date de sortie : <%= movies.release_date %></h6>
                        </a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<%- include('./composite/footer'); %>

</body>
</html>
